<div class="container mt-5 pt-5 mb-5 pb-5">
  <div class="row justify-content-center">
    <div>
      <div class="card">
        <div class="card-header">
          Lista de libros
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col" *ngFor="let libro of listaLibros">
            <div class="card" style="width: 18rem;">
              <img src="{{ libro.imagen }}" class="card-img-top" alt="..." style="
              background-size: cover;
              background-position: center center;">
              <div class="card-body">
                <h5 class="card-title">{{ libro.titulo }}</h5>
                <p class="card-text">{{ libro.descripcion }}</p>
                <a href="#" class="btn btn-primary">{{ libro.fechaPublicacion }}</a>
                <a href="#" class="btn btn-warning">{{ libro.estrellas }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
